<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your FileSpace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">FileSpace</div>
        <a class="btn home-btn" href="/">Home</a>
        <a class="btn files-btn" href="/folders">Your Files</a>
        <% if(currentUser) { %>
        <a class="btn logout-btn" href="/logout">Logout</a>
         <% } %>
    </div>

    <% if (!files) { %>
        <div>Nothing to see here!</div>
        <div class="separator"></div>
        <a class="btn" href="/new-file">Upload File</a>
    <% } %>

    <% if (files) { %>
        <div class="file-grid-container">
        <div class="file-grid">
            <% files.forEach((file) => { %>
                <div class="file-card">
                    <a href="https://gryfrcvamurkjwmrrfxz.supabase.co/storage/v1/object/public/filespace/public/<%=userID%>/<%=folderID%>/<%=file.name%>"><img class="file-img" src="https://gryfrcvamurkjwmrrfxz.supabase.co/storage/v1/object/public/filespace/public/<%=userID%>/<%=folderID%>/<%=file.name%>"></a>
                    <div class="file-text"><b><%= file.name %></b></div>
                    <div class="file-buttons-container">
                        <a class = "view-btn" href="<%= folderID %>/<%= file.name %>">View</a>
                        <form method="post" action="<%= folderID %>/<%=file.name %>/delete" class="file-delete-btn-form"><button class="file-delete-btn" type="submit">Delete file</button></form>
                    </div>
                </div>
            <% }) %>
        </div>
        </div>
    <% } %>
    
    <div class="separator"></div>
    <div class="file-form-container">
        <form method="post" enctype="multipart/form-data">
            <input class="file-choose" type="file" name="upload-file"/><br>
            <button type="submit">Complete upload</button>
        </form>
    </div>
</body>
</html>