<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your FileSpace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">FileSpace</div>
        <a class="btn home-btn" href="/">Home</a>
        <a class="btn files-btn" href="/folders">Your Files</a>
        <% if(currentUser) { %>
        <a class="btn logout-btn" href="/logout">Logout</a>
         <% } %>
    </div>

    <div class="file-info-grid-container">
        <form method="post">
        <div class="file-info-grid">
            <b><div for="fileTitle" class="file-info-grid-item">Title: </div></b>
            <input class="file-info-grid-item file-data" name="fileTitle" autofocus value="<%=file.name%>">
            <b><div class="file-info-grid-item">File ID: </div></b>
            <div class="file-info-grid-item file-data"><%= file.id %></div>
            <b><div class="file-info-grid-item">Made on: </div></b>
            <div class="file-info-grid-item file-data"><%= file.created_at %></div>
            <b><div class="file-info-grid-item">Last updated: </div></b>
            <div class="file-info-grid-item file-data"><%= file.updated_at %></div>
            <b><div class="file-info-grid-item">File size: </div></b>
            <div class="file-info-grid-item file-data"><%= file.metadata.size %></div>
        </div>
        <button type="submit">Update</button>
        </form>
    </div>
    
    <div class="separator"></div>
    <a href="/">Back to your files</a>

</body>
</html>